<div class="drawer-overlay" *ngIf="active"></div>
<div *ngIf="active" class="modal flip show" style="display: block;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable {{fullscreen?'modal-fullscreen':''}} ">
    <div *ngIf="active" class="card modal-content">
      <div class="modal-header">
        <h2>Bakım Planı Ekle veya Değiştir</h2>
        <div class="btn btn-sm btn-icon btn-active-danger" (click)="dismiss()">
          <span class="svg-icon svg-icon-1" [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"></span>
        </div>
      </div>

      <div class="modal-body">

        <form [formGroup]="modalForm" class="w-100 position-relative" autoComplete="off">
          <input type="hidden" formControlName="id"/>


          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6" for="bakimTuru" >Bakım Türü: </label>
            <div class="col-lg-8 fv-row">
              <input
                type="text" id="bakimTuru" class="form-control form-control-solid px-15" name="bakimTuru"
                placeholder="" formControlName="bakimTuru"/>
            </div>
          </div>

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6" for="bakimTarihi" >Bakım Tarihi: </label>
            <div class="col-lg-8 fv-row">
              <input
                type="datetime-local" id="bakimTarihi" class="form-control form-control-solid px-15" name="bakimTarihi"
                placeholder="" formControlName="bakimTarihi"/>
            </div>
          </div>

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6" for="bakimMaliyet" >Bakım Maliyet: </label>
            <div class="col-lg-8 fv-row">
              <input
                type="number" id="bakimMaliyet" class="form-control form-control-solid px-15" name="bakimMaliyet"
                placeholder="" formControlName="bakimMaliyet"/>
            </div>
          </div>

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6" for="bakimDurumu" >Bakım Durumu: </label>
            <div class="col-lg-8 fv-row">
              <input
                type="text" id="bakimDurumu" class="form-control form-control-solid px-15" name="bakimDurumu"
                placeholder="" formControlName="bakimDurumu"/>
            </div>
          </div>







        </form>



        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="save()">
            <span  translate="ROLES.SAVE"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

