:host {
  width: 100%;
}

.h-100 {
  height: 100%;
}



.top-40{
  top: 40% !important;;
}

.btn-warning.btn-label {
  width: 350px; /* İstediğiniz genişliği belirleyin */
  height: 85px; /* İstediğiniz yüksekliği belirleyin */
  margin: 0 auto; /* Butonu ortalamak için kullanılır */
  margin-top: 30px;
}
